@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* font-family: 'Poppins', sans-serif;  500 size */
/* font-family: 'Poppins', sans-serif;   300 size */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.card-text-hader {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.card-body-text {
  font-size: 9px;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.card-body-text i {
  background-color: gray;
  border-radius: 50%;
  margin: 7px;
}
.card-head {
  margin-left: 33px;
}
.card-buuton {
  font-size: 10px;
  width: 100px;
  padding: 5px 3px;
  border-radius: 20px;
  background: blanchedalmond;
  font-family: "Poppins", sans-serif;
  margin-left: 28px;
}
.my-card {
  position: absolute;
  left: 40%;
  top: -20px;
  border-radius: 50%;
}

/* @media only screen and (min-width: 100px) and (max-width: 576) {
  .h5-text {
    font-size: 8px;
  }
  .p-text {
    font-size: 5px;
  }
  .button-text {
    font-size: 5px;
  }
} */
